---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "light";

p {
  margin: 0 0 10px;
  word-wrap: initial;
  word-break: initial;
  white-space: initial;
}

h1 a {
  text-decoration: none;
}

:not(.menu) > ul, ol {
  margin: 0 0 10px;
}

p img {
  max-width: 100%;
}

blockquote {
  background: rgba(0,0,0,0.04);
  margin: 0 0 10px 20px;
  padding: 10px 10px 5px;
  position: relative;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  &:before {
    content: '“';
    position: absolute;
    left: -20px;
    font-size: 25px;
    top: 0;
  }
}

.highlighter-rouge {
  background: rgba(0,0,0,0.05);
}

div.highlighter-rouge {
  padding: 5px 10px;
  margin: 0 0 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

pre {
  background: none;
  color: #000;
}
