---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "dark";

p {
  margin: 0 0 10px;
  word-wrap: initial;
  word-break: initial;
  white-space: initial;
}

h1 a {
  text-decoration: none;
}
